@using Microsoft.AspNetCore.Identity
@using Transportathon.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Bootstrap CSS dosyasını projenize dahil edin -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <style>
        /* Özel stiller */
        body{
            background-color: #D3F3B7;
        }
        .container{
         
            height:87vh;
        }
        .landing {
            
            padding: 20px;
        }

        .big-title {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .small-title {
            font-size: 24px;
        }

        .image {
            max-width: 100%;
            height: auto;
            border-radius:15px;
        }

        
}
    </style>
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            
            <div class="col-md-6 custom-lg-margin custom-sm-margin   ">
                <div class="landing text-center p-5">
                    <h1 class="big-title pt">Welcome to Transportathon Hechathon </h1>
                    <h2 class="small-title">Harika bir deneyim için bize katılın</h2>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="nav-item">
                            <a asp-controller="Request" asp-action="RequestPage" class="btn btn-success mt-5">Get Started!</a>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav-item mx-2">
                            <a class="btn btn-success mt-5 text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Get Start!</a>
                        </ul>  
                    }
                    @*<a asp-controller="Account" asp-action="SignUp" class="btn btn-success mt-5">Get Started!</a>*@
                </div>
            </div>
            <div class="col-md-6 custom-lg-margin custom-sm-margin   ">
                <div class="landing  text-center p-5">
                    <img class="image" src="~/lib/images/transport.jpeg" alt="Otoban Resmi ">

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript dosyasını projenize dahil edin -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
